td {
 border: 1px solid black;   
}

button {
    width: 10px;
    height: 10px;
    border:none;
}

table {
    border-collapse: collapse;
}
.red {
    background-color: red;

}
.black {
    background-color: black;
}

.checker {
    border-radius: 50%;
}