td {
 border: 1px solid black; 
  
}

button {
    width: 10px;
    height: 10px;
    border:none;
}

table {
    border-collapse: collapse;
    width: 100px;
    height: 50px;
}
.red {
    background-color: red;

}
.black {
    background-color: black;
}

.checker {
    border-radius: 50%;
}
body{
    background-color: white;
}